@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.container {
  width: 60%;
  margin: 0 auto;
}

h1,
h2 {
  color: white;
}

.date-pickers {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.flights-list {
  display: flex;
  justify-content: space-between;
}
